$theme-colors: (
  'primary': #49593a,
  'secunday': #c0c260,
  'danger': #f01e1e,
  'warning': yellow,
  'info': blue,
  'success': green,
);

$body-bg: #e5e5e5;
$body-color: #263238;

@import '~bootstrap/scss/bootstrap.scss';
